<nav class="navbar navbar-expand-lg" style="background-color: lightseagreen">
  <div class="container-fluid">
    <a class="navbar-brand text-light" th:href="@{'/'}" style="font-size:30px;font-family:'Brush Script MT'">TRELLO.COM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light" th:href="@{'/'}" style="font-family: 'Lucida Handwriting'">All Folders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" th:href="@{'/categories'}" style="font-family: 'Lucida Handwriting'">Categories</a>
        </li>
      </ul>
    </div>
  </div>
</nav>